body {
    background-color: #FAFAFA;
    font-family: 'Poppins';
}

ul {
    list-style: none;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    padding-inline-start: 12px;
    padding-inline-end: 12px;
}

@media (min-width: 1114px) {
    .container {
        max-width: 1114px;
        margin: auto;
    }
}