@font-face {
    font-family: 'Pt-serif';
    src: url('../fonts/pt-serif-regular.woff2') format('woff2'), url('../fonts/pt-serif-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pt-serif-bold';
    src: url('../fonts/pt-serif-bold.woff2') format('woff2'), url('../fonts/pt-serif-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

ont-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-bold.woff2') format('woff2'), url('../fonts/poppins-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular.woff2') format('woff2'), url('../fonts/poppins-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monserrat-bold';
    src: url('../fonts/monserrat-bold.woff2') format('woff2'), url('../fonts/monserrat-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}