img {
    max-width: 100%;
}

ul li:nth-of-type() {
    max-width: 138px;
}

ul li:nth-of-type() {
    max-width: 177px;
}

ul li:nth-of-type() {
    max-width: 175px;
}

ul li:nth-of-type() {}

ul li:nth-of-type() {}

ul li:nth-of-type() {}